.contact-section {
  margin: 0 100px;
}
.social-card {
  border: 2px rgb(185, 185, 185) solid;
  border-radius: 0.2em;
  padding: 10px 60px;
  margin: 10px 0;
  cursor: pointer;
}
.card {
  display: flex;
  flex-direction: row;
}
.card-title {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 60px;
}
.card img {
  width: 100px;
  height: 100px;
}
