* {
  padding: 0;
  margin: 0;
}

/* Navbar */
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

a {
  text-decoration: none;
  background-color: initial;
}
.navigation {
  background-color: transparent;
}
.entry_left .entry__right {
  padding: 0;
}

/* Navbar-top */
.nav-container-1 {
  background-color: #212121;
  position: relative;
}
.nav-container-1 .fixed_top {
  display: flex;
  justify-content: space-between;
}
.fixed_top {
  width: 1226px;
  margin: 0 auto;
}

/* Navbar-top: Left */
.entry_left {
  float: left;
  color: #b0b0b0;
}
.entry_left .entry_item:first-child {
  padding-left: 0;
}
.entry_item {
  display: inline-block;
  padding: 0 20px;
  position: relative;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
}
.entry_item a {
  color: #b0b0b0;
  font-size: 12px;
}

/* Navbar-top: Right */
.entry_right {
  color: #b0b0b0;
  font-size: 0;
}
.entry__right > *,
.entry__right span.limit-width {
  display: inline-block;
  vertical-align: middle;
}
body,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

/* Navbar-bottom */

.nav-container-2 {
  position: relative;
  height: 88px;
  background: #fff;
}

.nav-container-2 .fixed_top {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  line-height: 80px;
}

.nav-logo img {
  /* height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px; */
  width: 60px;
  height: 60px;
  padding-top: 10px;
}

.nav-logo a {
  padding: 30px 0;
}

.navbar-nav {
  float: left;
}

.nav-item {
  display: inline-block;
  padding: 0 20px;
  position: relative;
}

.nav-item .search-tab {
  width: 350px;
  position: relative;
  display: flex;
}

.nav-item .search-bar {
  width: 100%;
  border: 3px solid #ff7525;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #686767;
}

.nav-item .search-btn {
  width: 40px;
  height: 50px;
  border: 1px solid #ff7525;
  background: #ff7525;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.nav-link {
  padding: 27px 13px;
}

a.nav-link {
  color: #616161;
}

/* Main Section */
.main-wrapper .main-img {
  height: 600px;
}
.main-img {
  background-image: url("../assets/mian-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.main-intro {
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 250px;
  margin-right: 350px;
}

.main-intro h2 {
  font-size: 3em;
}
.main-intro p {
  font-size: 32px;
}

/* Footer Section */
.footer-navigation {
  display: flex;
  flex-direction: column;
  background-color: #212121;
  color: #b0b0b0;
}

.footer-navigation h2 {
  text-transform: uppercase;
}
.footer {
  margin: 50px 150px 10px;
}

.footer h2 {
  margin-bottom: 20px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-top li {
  padding: 10px 0;
}

.footer-left,
.footer-middle,
.footer-right {
  width: 100%;
}

.footer-bottom {
  border-top: #3f4b4d 2px solid;
  padding: 20px 0 0;
  margin: 20px 0;
}

.footer a {
  text-decoration: none;
  color: inherit;
}
