.items {
  display: flex;
  flex-direction: row;
  margin: 10px 80px;
}

.item-img-section {
  width: max-content;
  margin: 50px;
  margin-top: 10px;
}

.img-wrapper {
  width: 100%;
}

.img-wrapper img {
  width: 100%;
}

.item-description {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}

.item-name {
  padding: 0 0 20px;
}

.item-name h2 {
  text-transform: uppercase;
}

.item-price {
  color: #616161;
  padding: 0 0 30px;
}

.item-price span {
  font-size: 30px;
  color: #d41717;
}

.item-buy {
  margin: 0 0 20px;
}

.item-buy .buy-btn {
  padding: 15px 25px;
  border: none;
  background-color: #ff7525;
  color: black;
}
.item-buy .buy-btn:hover {
  padding: 15px 30px;
  border: none;
  background-color: rgb(255, 145, 0);
  color: black;
}

.item-dsc li {
  list-style-type: disc;
}
